.quadCinza{
    display: flex;
    background-color: gray;
    height: 20vh;
    align-items: center;
    justify-content: center;

}

.quadAzul{
    background-color: cadetblue;
    width: 90px;
    height: 90px;
    
}
