.titulo0{color: rgb(17, 216, 27);}
.titulo1{color: green;}
.titulo2{color: rgb(5, 94, 45);}
.titulo3{color: rgb(219, 241, 20);}
.titulo4{color: rgb(169, 172, 8);}
.titulo5{color: rgb(245, 140, 64);}
.titulo6{color: rgb(170, 79, 13);}
.titulo7{color: rgb(224, 51, 21);}
.titulo8{color: rgb(189, 17, 4);}
.titulo9{color: rgb(70, 67, 66);}
.titulo10{color: rgb(12, 12, 11);}
span{color: blueviolet;}
span1{color: rgb(21, 32, 194);}
span2{color: rgb(24, 158, 31);}
span3{color: rgb(198, 230, 17);}
span4{color: rgb(177, 138, 102);}
span5{color: rgb(248, 45, 10);}
span6{color: rgb(226, 43, 171);}
span7{color: rgb(43, 226, 217);}
span8{color: rgb(96, 110, 101);}
span9{color: rgb(43, 5, 78);}
span10{color: rgb(83, 18, 7);}